:root {
	--white: #fff;
	--black: #000;

	--emerald-500: #10b981;
	--emerald-950: #022c22;

	--gray-950: #030712;

	--blue-300: #93c5fd;
	--blue-500: #4285f4;
	--blue-700: #1d4ed8;

	--slate-400: #94a3b8;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--slate-950: #020617;

	--slate-950-70: rgba(2, 6, 23, 0.7);
	--slate-950-80: rgba(2, 6, 23, 0.8);
	--slate-950-90: rgba(2, 6, 23, 0.9);

	--slate-700-10: rgba(255, 255, 255, 0.1);
	--slate-700-30: rgba(255, 255, 255, 0.3);
	--slate-700-70: rgba(255, 255, 255, 0.7);

	--yellow-600: #ca8a04;
	--yellow-800: #854d0e;
}

*,
html,
body,
button,
input,
textarea,
p,
a,
div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--gray-950);
	color: var(--white);
	max-width: 100vw;
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 1rem;
}
